.page-header {
    height: 6rem;
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 89, 255);
    color: #fff;
    padding: 0 2rem;
}

img {
    height: 6rem;
}