.todo-item{
    padding:1rem;
    margin: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444;
    color:#fff;
    margin-bottom: 1rem;
    border-radius: 5px;;
}
.description {
    color: rgb(173, 173, 173);
}